<div id="category_sidebar" class="sidebar">
  <div id="category_list">
    <% if !@categories.empty? %>
      <%= render partial: "category/list", locals: {
        categories: @categories,
        current_category_id: @current_category.id,
      } %>
    <% end %>
  </div>

  <br />

  <div id="new_category_container" class="givemespace">
    <input id="new_category_input" />
    <input id="new_category_button" type="submit" value="New Category" />
  </div>
</div>

<div class="main">
  <div id="phrase_form" align="center">
    <input id="phrase_input" />
    <input id="say" type="submit" value="Say" />
    <input id="save" type="submit" value="Save" />
    <select class="voice_selector">
      <% @voices.each do |voice| %>
        <option value="<%= voice %>"
        <% if voice == @voice %>
          selected="selected"
        <% end %>
        ><%= voice %></option>
      <% end %>
    </select>
    <br />
    <br />
    <div id="phrase_queue">
      <% @phrases_without_category.each do |phrase| %>
        <%= render partial: "phrase/base", locals: { phrase: phrase } %>
        <br />
      <% end %>
    </div>
  </div>
  
  <br />
  <br />
  <br />

  <div id="category_body">
    <div id="category_container" class="column">
    <% if !@current_category.nil? %>
      <%= render partial: "category/base", locals: {category: @current_category} %>
    <% end %>
    </div>

    <div id="fixed_category_container" class="column left-border">
      <div id="fixed_category_search">
        <input id="fixed_category_input" placeholder="quick access..." />
        <div id="fixed_category_dropdown_content" class="dropdown-content">
          <%= render partial: "category/dropdown", locals: {categories: @categories} %>
        </div>
      </div>

      <br />
      <div id="fixed_category_inner_container">
        <% if !@current_category.nil? %>
          <%= render partial: "category/base", locals: {category: @fixed_category} %>
        <% end %>
      <div>
    </div>
  </div>
  
  <br />
</div>
