
<div id="category_sidebar" class="sidebar">
  <div id="category_list">
    <% @categories.each do |category| %>
      <a class="category_link" category_id="<%= category.id %>"><%= category.name %></a>
    <% end %>
  </div>

  <br />

  <div id="new_category_container" class="givemespace">
    <input id="new_category_input" />
    <input id="new_category_button" type="submit" value="New Category" />
  </div>
</div>

<div class="main">
  <div id="phrase_form" align="center">
    <input id="phrase_input" />
    <input id="say" type="submit" value="Say" />
    <input id="save" type="submit" value="Save" />
    <select class="voice_selector">
      <% @voices.each do |voice| %>
        <option value="<%= voice %>"
        <% if voice == @voice %>
          selected="selected"
        <% end %>
        ><%= voice %></option>
      <% end %>
    </select>
    <br />
    <br />
    <div id="phrase_queue">
      <% @phrases_without_category.each do |phrase| %>
        <%= render partial: "phrase", locals: { phrase: phrase } %>
        <br />
      <% end %>
    </div>
  </div>
  
  <br />
  <br />
  <br />

  <div id="category_container">
    <%= render partial: "category", locals: {category: @current_category} %>
  </div>
  
  <br />
</div>
